.inputContainer {
	width: 500px;
	display: flex; /* Используем flexbox для удобного расположения элементов */
	justify-content: space-between; /* Распределяем элементы по ширине */
	align-items: center; /* Выравниваем элементы по вертикали */
	margin-top: 20px; /* Отступ сверху */
	margin-bottom: 20px;
}

.inputContainer input[type='text'] {
	flex: 4;
	padding: 10px;
	font-size: 16px;
	border: 2px solid #cccccc;
	border-radius: 3px;
	outline: none; /* Убираем стандартный outline */
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.inputContainer button {
	background-color: #000000;
	color: #ffffff;
	padding: 10px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-size: 16px;
	margin-left: 10px; /* Отступ слева от input */
}

.inputContainer button:disabled {
	background-color: #333333;
	cursor: not-allowed;
}
